.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    inset 4px 4px 1px white,
    inset -4px -4px 1px #888;
}

.cell-active {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: larger; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: lightgray;
  border: 2px solid #888;
}

.cell,
.cell-active {
  /* width: 20px;
  height: 20px; */
  min-width: 22px;
  min-height: 22px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
}

.cell-1 {
  background-color: red;
}

.cell-1,
.cell-icon,
.mine-revealed {
  font-size: 12px;
}

.cell0 {
  color: gray;
}

.cell1 {
  color: blue;
}

.cell2 {
  color: green;
}

.cell3 {
  color: red;
}

.cell4 {
  color: darkblue;
}

.cell5 {
  color: brown;
}

.cell6 {
  color: cadetblue;
}

.cell7 {
  color: black;
}

.cell8 {
  color: gray;
}

.wrong-flag {
  position: relative;
}

.wrong-flag::before,
.wrong-flag::after {
  width: 140%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -20%;
  content: "";
  background: black;
  border-radius: 1px;
}

.wrong-flag::before {
  transform: rotate(45deg);
}

.wrong-flag::after {
  transform: rotate(-45deg);
}
