.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    inset 4px 4px 1px white,
    inset -4px -4px 1px #888;
}

.cell-active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: lightgray;
  border: 2px solid #888;
}

.cell-1 {
  background-color: red;
}

.cell0 {
  color: gray;
}

.cell1 {
  color: blue;
}

.cell2 {
  color: green;
}

.cell3 {
  color: red;
}

.cell4 {
  color: darkblue;
}

.cell5 {
  color: brown;
}

.cell6 {
  color: cadetblue;
}

.cell7 {
  color: black;
}

.cell8 {
  color: gray;
}
