.mainGrid {
  width: 100%;
  margin-bottom: 24px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  grid-template-areas:
    "game game"
    "settings scoreboard";

  gap: 10px;
}

@media (max-width: 990px) {
  .mainGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    grid-template-areas:
      "game"
      "settings"
      "scoreboard";
  }

  .scoreboardSection {
    margin-top: 15px;
  }

  .mainInterface {
    overflow-x: scroll;
  }
}

.settingsSection {
  grid-area: settings;
}

.mainInterface {
  grid-area: game;
}

.scoreboardSection {
  grid-area: scoreboard;
}

/* .mainInterface {
  display: flex;
  justify-content: center;
  width: 100%;
} */

.settingsSection,
.scoreboardSection {
  display: flex;
  justify-content: center;
}

.minesweeperInterface {
  width: fit-content;
  /* max-width: 450px; */
  margin: auto;
  padding: 15px;
  box-shadow:
    inset 4px 4px 1px white,
    inset -4px -4px 1px #888;
}

.topRow {
  height: 43px;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow:
    inset -4px -4px 1px white,
    inset 4px 4px 1px #888;
}

.mineGridRow {
  padding: 8px;
  box-shadow:
    inset -4px -4px 1px white,
    inset 4px 4px 1px #888;
}

/* Modals styles */
.modalButtons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 10px;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formLabel {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.formInput {
  width: 90%;
  padding: 6px;
  border-radius: 6px;
  font-size: 16px;
}

.modalTextData {
  margin-top: 0;
  font-size: 18px;
}

.modalResultData {
  font-size: larger;
}
.modalResultData.Easy {
  color: #0d6efd;
}
.modalResultData.Medium {
  color: #d3a10b;
}
.modalResultData.Hard {
  color: #dc3545;
}
.modalResultData.Custom {
  color: #6c757d;
}

@media (max-width: 576px) {
  .modalButtons {
    grid-template-columns: 1fr;
  }
}
