.mainInterface {
  /* width: fit-content; */
  max-width: 450px;
  padding: 15px;
  box-shadow:
    inset 4px 4px 1px white,
    inset -4px -4px 1px #888;
}

.topRow {
  height: 43px;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow:
    inset -4px -4px 1px white,
    inset 4px 4px 1px #888;
}
