.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  gap: 4px;
}

.cell {
  background-color: #4f46e5;
  border-radius: 4px;
}

.mine {
  background-color: red;
}
