.scoreboard {
  width: 95%;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
  background-color: #c3c3c3;
  box-sizing: border-box;
}

.sbTable {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  overflow-x: scroll;
}

.sbTable td,
.sbTable th {
  border-right: 2px solid black;
}

.sbTable th {
  border-bottom: 2px solid black;
}

.sbTable td {
  border-bottom: 2px solid #888;
}

.sbTable td:last-child,
.sbTable th:last-child {
  border-right: none;
}

.sbTable tr:last-child td {
  border-bottom: none;
}

.latestResult {
  background-color: lightgray;
}

.paginationSB {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.paginationSB button {
  /* padding: 6px; */
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: #6c757d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.paginationSB button:hover {
  background-color: #5c636a;
}

.paginationSB .currentPage {
  background-color: #4d5258;
}

.difficultyChoice {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.difficultyChoice button {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  border: none;
  background-color: #6c757d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.difficultyChoice button:hover {
  background-color: #5c636a;
}

.difficultyChoice .choiced {
  background-color: #4d5258;
}

@media (max-width: 990px) {
  .sbTableContainer {
    overflow-x: scroll;
  }
}
