.formContainer {
  width: 95%;
  margin: auto;
  padding: 20px;
  border-radius: 6px;
  background-color: #c3c3c3;
  box-sizing: border-box;
}

.formGroup {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formLabel {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.formInput {
  width: 90%;
  padding: 6px;
  border-radius: 6px;
  font-size: 16px;
}

.rowTwoCols {
  width: 100%;
  display: flex;
  gap: 10px;
}

@media (max-width: 576px) {
  .rowTwoCols {
    flex-direction: column;
  }
}
